.input {
  display: flex;
  flex-direction: row;
}
.input .img {
  height: 300px;
}
.input .userinput {
  width: 300px;
  color: rgba(26, 27, 28, 0.677);
}
.input .userinput input {
  margin-bottom: 5px;
}
.show {
  max-height: 500px;
  max-width: 500px;
}
.text {
  font-size: 16px;
  color: #68b88e;
}
button {
  margin-right: 20px;
  margin-bottom: 20px;
}
.inputbutton button {
  height: 50px;
  width: 100px;
}
